$main-font: Roboto, sans-serif;
$card-width: 198px;
$card-height: 406px;
$color-background: #fff;
$color-border: #f3f3f3;
$color-button: #00acdc;
$color-main-text: #060b35;
$color-secondary-text: #616070;
$radius-border: 5px;
